@use '../abstracts/' as *;

@media screen and (max-width: #{$breakpoint-medium}) {
	:root {
		@each $font, $size in $font-sizes-medium {
			--fs-#{$font}: #{$size};
		}
	}
}

@media screen and(min-width: #{$breakpoint-small}) {
	.state-indicator {
		z-index: 1 !important;
	}
}

@media screen and (max-width: #{$breakpoint-small}) {
	:root {
		// Classes
		*[data-flex-collapse='true'] {
			flex-direction: column !important;
		}

		*[data-grid-collapse='true'] {
			grid-template-columns: 1fr !important;
		}

		*[data-desktop] {
			display: none !important;
		}

		*[data-mobile] {
			display: block !important;
		}

		*[data-align-mobile='true'] {
			width: 100%;
			align-items: center !important;
		}

		*[data-justify-mobile='true'] {
			width: 100%;
			justify-content: center !important;
		}

		*[data-text-center-mobile='true'] {
			text-align: center !important;
		}

		// Loops
		@each $name, $size in $sizes-mobile {
			@each $size-key, $size-val in $size {
				--size-#{$name}-#{$size-key}: #{$size-val};
			}
		}

		@each $font, $size in $font-sizes-mobile {
			--fs-#{$font}: #{$size};
		}
	}

	.state-indicator {
		z-index: 2 !important;
	}
}
