@use '../../abstracts/' as *;

.post {
	border: $theme-border;
	max-width: 100%;

	border-radius: $border-radius-pentagon;

	&:is([data-collapse='true']) {
		.post__title {
			margin-block-end: 0;
		}

		.post__content,
		.post__footer {
			display: none;
		}
	}

	.post__iframe-container iframe {
		width: 100%;
		max-width: 100%;
		aspect-ratio: 16 / 9;
	}

	&:is(:hover) {
		border: $theme-border-light;
	}

	// Image Post
	// ============
	.post__images {
		max-width: 100%;
		aspect-ratio: 16 / 9;

		img {
			background-color: var(--clr-text-difference);
		}

		.images__dots {
			@include transformCenter($top: 92%);

			display: flex;
			mix-blend-mode: difference;
			gap: $post-images-dots-gap;
			z-index: 9999;

			.dot {
				max-width: $post-dot-width;
				aspect-ratio: 1;

				border: $theme-border;

				&:is(:hover) {
					border: $theme-border-light;
				}

				&:is([data-selected='true']) {
					border: $theme-border-light;
					background-color: var(--clr-input-border-hover);
				}
			}
		}
	}

	// Video Post
	// ============
	.post__video {
		iframe {
			max-width: 100%;
			aspect-ratio: 16 / 9;
		}
	}

	// Link Post
	// ============
	.post__link {
		.link__og-image {
			max-width: 16rem;
			aspect-ratio: 16 / 9;
		}
	}
}

@media screen and (max-width: $breakpoint-small) {
	.post {
		.post__images {
			height: 100%;
			object-fit: contain;
			aspect-ratio: 1 /1;
		}
	}
}
