@use '../../abstracts/' as *;

.post {
	border: $theme-border;
	max-width: 768px;

	border-radius: $border-radius-pentagon;

	&:is([data-collapse='true']) {
		.post__title {
			margin-block-end: 0;
		}

		.post__content,
		.post__footer {
			display: none;
		}
	}

	&:is(:hover) {
		border: $theme-border-light;
	}

	// Image Post
	// ============
	.post__images {
		width: 100%;
		aspect-ratio: 16 / 9;

		img {
			background-color: black;
		}

		.images__dots {
			@include transformCenter($top: 92%);

			display: flex;
			mix-blend-mode: difference;
			gap: $post-images-dots-gap;

			.dot {
				width: $post-dot-width;
				aspect-ratio: 1;

				border: $theme-border;

				&:is(:hover) {
					border: $theme-border-light;
				}

				&:is([data-selected='true']) {
					border: $theme-border-light;
					background-color: var(--clr-input-border-hover);
				}
			}

			z-index: 9999;
		}
	}

	// Video Post
	// ============
	.post__video {
		iframe {
			width: 100%;
			aspect-ratio: 16 / 9;
		}
	}
}
