$colors-dark: (
	background: (
		'400': hsl(220 8% 10%),
		'500': hsl(220 8% 16%)
	),
	text: (
		'accent': white
	)
);

$colors-light: ();

$active-theme: $colors-dark;

@each $keyName, $key in $active-theme {
	@each $valKey, $val in $key {
		.clr-#{$keyName}-#{$valKey} {
			color: $val;
		}
	}
}
