$colors-dark: (
	background: (
		'300': hsl(245 8% 20%),
		'400': hsl(245 8% 13.65%)
	),
	card: (
		'300': hsl(245 8% 28.65%),
		'400': hsl(245 8% 36.65%),
		'600': hsl(245 8% 48%)
	),
	markdown: (
		'code': hsl(245 8% 28.65%)
	),
	hoverable: (
		'400': hsl(245 8% 67.65% / 0.38)
	),
	text: (
		'difference': black,
		'accent': hsl(0 0% 100%),
		'muted': hsl(0 0% 90%),
		'error': hsl(5 97% 68%)
	),
	input: (
		'background': hsl(245 8% 28%),
		'border': hsl(245 8% 50%),
		'border-hover': hsl(245 8% 78%)
	),
	button: (
		'background': hsl(245 8% 32% / 0.88),
		'background-hover': hsl(245 8% 46%),
		'primary-background': hsl(188 90% 30.5%),
		'primary-background-hover': hsl(188 90% 36%),
		'tool-background': hsl(230.5 40% 42% / 0.4),
		'tool-background-hover': hsl(188 90% 36%),
		'background-dark': hsl(245 8% 20%),
		'background-dark-hover': hsl(245 8% 24%),
		'difference': hsl(245 8% 36% / 0.5),
		'difference-hover': hsl(245 8% 40%),
		'difference-upvote': hsl(220 97% 62% / 0.3),
		'difference-upvote-color': hsl(220 97% 80%),
		'difference-upvote-hover': hsl(220 97% 62%),
		'difference-upvote-border': hsl(220 97% 62%),
		'difference-downvote': hsl(2 97% 62% / 0.3),
		'difference-downvote-color': hsl(2 97% 80%),
		'difference-downvote-hover': hsl(2 97% 62%),
		'difference-downvote-border': hsl(2 97% 62%)
	),
	misc: (
		'selection': hsl(188 50% 95%),
		'selection-shadow': hsl(188 100% 26% / 0.36),
		'link': hsl(210.5 100% 62%),
		'link-bright': hsl(210.5 100% 88%),
		'link-hover': hsl(210.5 100% 67%)
	)
);

$active-theme: $colors-dark;

@each $keyName, $key in $active-theme {
	@each $valKey, $val in $key {
		.clr-#{$keyName}-#{$valKey} {
			color: $val;
		}
	}
}
