@use './_colors.scss' as *;

// =================
// Important
// =================
$clr-body-text: var(--clr-text-accent);
$clr-body-background-color: var(--clr-background-300);
$main-font: 'Poppins', sans-serif;

$border-radius-cubed: 9px;
$border-radius-pentagon: 5px;
$border-radius-max: 100vmax;

$profile-scale: clamp(1.55em, 12vw, 2.25em);
$profile-scale-big: clamp(4.55em, 12vw, 8.25em);

$theme-border-color-dark: var(--clr-card-400);
$theme-border-color-light: var(--clr-input-border-hover);
$theme-border-color-default: var(--clr-input-border);
$theme-border-color-medium: var(--clr-hoverable-400);

$theme-border-light: 2px solid $theme-border-color-light;
$theme-border: 2px solid $theme-border-color-default;
$theme-border-dark: 2px solid $theme-border-color-dark;

$theme-shadow: 0px 0px 8px 1px hsl(0 50% 0 / 0.75);

$clr-primary: var(--clr-text-primary);
$clr-error: var(--clr-text-error);
$clr-success: var(--clr-button-difference-upvote-hover);

$modal-background-color: var(--clr-misc-modal-background, hsl(0 50% 0 / 0.65));
$modal-min-width: 25vw;
$modal-min-width-mobile: 80vw;

$dyanmic-label-name-max-width: 16ch;

// =================
// Colors
// =================
$clr-body-background: var(--clr-background-400);
$clr-navbar-background: var(--clr-background-300);

// =================
// Containers
// =================
$main-container-width: 100%;
$main-container-padding: 1rem;

$secondary-container-width: 900px;

// =================
// Inputs
// =================
$def-input-font-size: var(--fs-400);
$def-input-padding: 0.475em 0.9em;
$def-input-background-color: var(--clr-input-background);
$def-input-border-color: var(--clr-input-border);
$def-input-border: $theme-border;
$def-input-border-radius: $border-radius-cubed;
$def-input-border-color-on-hov: var(--clr-input-border-hover);

$input-square-image-width: clamp(10rem, 20vw, 16rem);
$input-banner-image-height: clamp(8rem, 16vw, 16rem);
$input-square-image-background-color: var(--clr-card-300);

$input-end-icon-distance: 2rem;

$input-dropdown-opacity-duration: 200ms;
$input-dropdown-opacity-delay: 25ms;
$input-dropdown-transform-duration: 200ms;
$input-dropdown-transform-delay: 100ms;

// =================
// Buttons
// =================
$button-font-size-small: var(--fs-350);
$button-font-size-extra-small: calc(var(--fs-300) * 0.5);
$button-padding-small: 0.4em 0.45em;
$button-padding-sausage: 0.55em 2em;
$button-padding-square: 0.5em 0.75em;

$def-button-font-size: var(--fs-400);
$def-button-padding: 0.5em 0.55em;
$def-button-background-color: var(--clr-button-background);
$def-button-color: $clr-body-text;
$def-button-border: $theme-border;
$def-button-border-radius: $border-radius-cubed;
$def-button-background-color-on-hov: var(--clr-button-background-hover);

$primary-button-font-size: var(--fs-400);
$primary-button-padding: 0.575em 0.55em;
$primary-button-background-color: var(--clr-button-primary-background);
$primary-button-color: $clr-body-text;
$primary-button-border: none;
$primary-button-border-radius: $border-radius-cubed;
$primary-button-background-color-on-hov: var(--clr-button-primary-background-hover);

$tool-button-font-size: var(--fs-400);
$tool-button-padding: 0.7em;
$tool-button-background-color: var(--clr-button-tool-background);
$tool-button-color: $clr-body-text;
$tool-button-border: none;
$tool-button-border-radius: $border-radius-cubed;
$tool-button-background-color-on-hov: var(--clr-button-tool-background-hover);

$hologram-button-font-size: var(--fs-400);
$hologram-button-padding: 0.7em;
$hologram-button-background-color: var(--clr-button-hologram-background);
$hologram-button-color: var(--clr-misc-hologram-color);
$hologram-button-border: none;
$hologram-button-border-radius: 3px;
$hologram-button-background-color-on-hov: var(--clr-button-hologram-background-hover);

$difference-button-background-color: var(--clr-button-difference);
$difference-button-border: $theme-border-dark;
$difference-button-background-color-on-hov: var(--clr-button-difference-hover);

$difference-upvote-button-background-color: var(--clr-button-difference-upvote);
$difference-upvote-button-color: var(--clr-button-difference-upvote-color);
$difference-upvote-button-border: 2px solid var(--clr-button-difference-upvote-border);
$difference-upvote-button-background-color-on-hov: var(--clr-button-difference-upvote-hover);

$downvote-button-background-color: var(--clr-button-difference-downvote-hover);
$downvote-button-background-color-on-hov: var(--clr-button-downvote-hover);
$downvote-button-border: none;

$difference-downvote-button-background-color: var(--clr-button-difference-downvote);
$difference-downvote-button-color: var(--clr-button-difference-downvote-color);
$difference-downvote-button-border: 2px solid var(--clr-button-difference-downvote-border);
$difference-downvote-button-background-color-on-hov: var(--clr-button-difference-downvote-hover);

// =================
// Cards
// =================
$def-card-background-color: var(--clr-card-400);
$def-card-border: $theme-border;
$def-card-border-radius: $border-radius-cubed;
$def-card-border-color-on-hov: none;

$difference-card-background-color: var(--clr-card-300);
$difference-card-border: $theme-border-dark;
$difference-card-border-radius: $border-radius-cubed;
$difference-card-border-color-on-hov: none;

$dark-card-background-color: var(--clr-background-300);
$dark-card-border: $theme-border;
$dark-card-border-radius: $border-radius-cubed;
$dark-card-border-color-on-hov: none;

$error-difference-card-background-color: var(--clr-card-error-difference-background);
$error-difference-card-border: 2px solid $clr-error;

$primary-difference-card-background-color: var(--clr-card-primary-difference-background);
$primary-difference-card-border: 2px solid $clr-primary;

// =================
// Drawer
// =================
$canvas-width: 488px;

$color-cube-width: 32px;
$color-cube-border: 2px solid var(--clr-text-difference);
$color-cube-selected-border-color: var(--clr-misc-link);

// =================
// Post
// =================
$post-width: 846px;
$post-images-dots-gap: 0.75em;
$post-dot-width: 0.85rem;

// =================
// Form
// =================
$form-container-width: 76vw;

$form-counter-bar-background-color: var(--clr-card-300);
$form-counter-bar-active-background-color: var(--clr-button-primary-background-hover);

$input-profile-width: clamp(10rem, 16vw, 16rem);

// =================
// Community
// =================
$community-profile-padding: 0.5em;
$community-profile-width: clamp(4em, 12vw, 6em);
$community-banner-height: clamp(128px, 16vw, 256px);

// =================
// Context menu
// =================
$context-menu-shadow: 0 0 16px 2px var(--clr-misc-shadow);

// Skeletron
$skeletron-background-color: var(--clr-misc-skeletron-background);

$skeletron-padding-text: 0.25em 0.6em;
$skeletron-padding-text-small: 0.15em 0.45em;

// =================
// Utilities
// =================

// =================
// Animations
// =================
$animation-background-color-highlight: var(--clr-blue-hover);

// =================
// Composition
// =================
$clr-column-split-border: var(--clr-hover-400);
$profile-background: linear-gradient(to left, red, green, blue);

// Media scroller
$media-scroller-max-width: 92vw;

// =================
// Misc
// =================
$flow-spacing: 0.5em;

$fw-heading: 400;
