@use './_colors.scss' as *;

// =================
// Important
// =================
$clr-body-text: var(--clr-text-accent);
$main-font: 'Poppins', sans-serif;

$border-radius-cubed: 9px;
$border-radius-pentagon: 5px;
$border-radius-max: 100vmax;

$profile-scale: clamp(2.55em, 6vw, 3.25em);

$theme-border-light: 2px solid var(--clr-input-border-hover);
$theme-border: 2px solid var(--clr-input-border);
$theme-border-dark: 2px solid var(--clr-card-400);

$theme-shadow: 0px 0px 8px 1px hsl(0 50% 0 / 0.75);

// =================
// Colors
// =================
$clr-body-background: var(--clr-background-400);
$clr-navbar-background: var(--clr-background-300);

// =================
// Containers
// =================
$main-container-width: 100%;
$main-container-padding: 1rem;

$secondary-container-width: 900px;

// =================
// Inputs
// =================
$def-input-font-size: var(--fs-400);
$def-input-padding: 0.475em 0.9em;
$def-input-background-color: var(--clr-input-background);
$def-input-border-color: var(--clr-input-border);
$def-input-border: $theme-border;
$def-input-border-radius: $border-radius-cubed;
$def-input-border-color-on-hov: var(--clr-input-border-hover);

// =================
// Buttons
// =================
$button-font-size-small: var(--fs-350);
$button-font-size-extra-small: calc(var(--fs-300) * 0.5);
$button-padding-small: 0.4em 0.45em;

$def-button-font-size: var(--fs-400);
$def-button-padding: 0.5em 0.55em;
$def-button-background-color: var(--clr-button-background);
$def-button-color: $clr-body-text;
$def-button-border: $theme-border;
$def-button-border-radius: $border-radius-cubed;
$def-button-background-color-on-hov: var(--clr-button-background-hover);

$primary-button-font-size: var(--fs-400);
$primary-button-padding: 0.575em 0.55em;
$primary-button-background-color: var(--clr-button-primary-background);
$primary-button-color: $clr-body-text;
$primary-button-border: none;
$primary-button-border-radius: $border-radius-cubed;
$primary-button-background-color-on-hov: var(--clr-button-primary-background-hover);

$difference-button-background-color: var(--clr-button-difference);
$difference-button-border: $theme-border-dark;
$difference-button-background-color-on-hov: var(--clr-button-difference-hover);

$difference-upvote-button-background-color: var(--clr-button-difference-upvote);
$difference-upvote-button-color: var(--clr-button-difference-upvote-color);
$difference-upvote-button-border: 2px solid var(--clr-button-difference-upvote-border);
$difference-upvote-button-background-color-on-hov: var(--clr-button-difference-upvote-hover);

$difference-downvote-button-background-color: var(--clr-button-difference-downvote);
$difference-downvote-button-color: var(--clr-button-difference-downvote-color);
$difference-downvote-button-border: 2px solid var(--clr-button-difference-downvote-border);
$difference-downvote-button-background-color-on-hov: var(--clr-button-difference-downvote-hover);

// =================
// Cards
// =================
$def-card-background-color: var(--clr-card-400);
$def-card-border: $theme-border;
$def-card-border-radius: $border-radius-cubed;
$def-card-border-color-on-hov: none;

$difference-card-background-color: var(--clr-card-300);
$difference-card-border: $theme-border-dark;
$difference-card-border-radius: $border-radius-cubed;
$difference-card-border-color-on-hov: none;

$dark-card-background-color: var(--clr-background-300);
$dark-card-border: $theme-border;
$dark-card-border-radius: $border-radius-cubed;
$dark-card-border-color-on-hov: none;

// =================
// Post
// =================
$post-images-dots-gap: 0.75em;
$post-dot-width: 0.85rem;

// =================
// Form
// =================
$form-counter-bar-background-color: var(--clr-card-300);
$form-counter-bar-active-background-color: var(--clr-button-primary-background-hover);

$input-profile-width: 256px;

// =================
// Utilities
// =================

// =================
// Animations
// =================
$animation-background-color-highlight: var(--clr-blue-hover);

// =================
// Composition
// =================
$clr-column-split-border: var(--clr-hover-400);
$profile-background-color: var(--clr-background-card);

// Media scroller
$media-scroller-max-width: 92vw;

// =================
// Misc
// =================
$flow-spacing: 0.5em;

$fw-heading: 400;
