@use '../abstracts/' as *;

img[data-profile='true'] {
	width: 2rem;
	aspect-ratio: 1;
	border-radius: 100vmax;
}

.hoverable {
	transition: background-color 95ms ease-in-out;
}

.hoverable:is(:hover) {
	background-color: var(--clr-hoverable-400);
}
