@use '../../abstracts/' as *;
@use '../mixins' as *;

.card[data-variant='default'] {
	@include createCard();
}

.card[data-variant='difference'] {
	@include createCard(
		$background-color: $difference-card-background-color,
		$border: $difference-card-border
	);
}

.card[data-variant='dark'] {
	@include createCard($background-color: $dark-card-background-color, $border: $dark-card-border);
}

.card:is([data-secondary-variant='default-background']) {
	border: none;
	border-radius: 0px;
}

// ======================================
// ======================================
.card {
	overflow: hidden;

	&[data-variant='default'] {
		.card__header {
			background-color: var(--clr-card-600);
		}
	}

	a {
		color: var(--clr-misc-link-bright);
	}
}
