@use '../../abstracts/' as *;
@use '../mixins' as *;

.card[data-variant='default'] {
	@include createCard();

	.card__header {
		background-color: var(--clr-card-600);
	}
}

.card[data-variant='difference'] {
	@include createCard(
		$background-color: $difference-card-background-color,
		$border: $difference-card-border
	);
}

.card[data-variant='error-difference'] {
	@include createCard(
		$background-color: $error-difference-card-background-color,
		$border: $error-difference-card-border
	);
}

.card[data-variant='dark'] {
	@include createCard($background-color: $dark-card-background-color, $border: $dark-card-border);

	.card__header {
		background-color: $theme-border-color-dark;
	}
}

.card:is([data-secondary-variant='default-background']) {
	border: none;
	border-radius: 0px;
}

// ======================================
// ======================================
.card {
	overflow: hidden;

	a {
		color: var(--clr-misc-link-bright);
	}
}
