@use '../../abstracts/' as *;
@use '../mixins' as *;

.form-container {
	max-width: $form-container-width;
	margin-inline: auto;

	.inner-form-container[data-show-form='false'] {
		display: none;
	}

	// Since both nested cards have borders and there are already borders on the form
	// That many borders cause visual fatigue, so we remove them
	.nested-form-container .inner-form-container > .card {
		border: none;

		& > .card {
			border: none;
		}
	}

	.form__counter {
		.inactive-bar,
		&::after {
			@include pseudo-element();
			@include transformCenter($top: 60%, $left: 0);

			width: 100%;
			height: 8px;
			// This is used so that both elements overlap, since this property changes the position
			// of an element for some reason...
			transform: scaleX(1);

			border-radius: $border-radius-max;
		}

		.inactive-bar {
			background-color: $form-counter-bar-background-color;

			z-index: -2;
		}

		&::after {
			background-color: $form-counter-bar-active-background-color;
			transform: scaleX(calc(var(--data-completed) / var(--data-amount)));
			transform-origin: left;

			z-index: -1;
		}

		.counter__container {
			place-items: center;

			&:first-child {
				place-items: start;
			}

			&:last-child {
				place-items: end;
			}
		}
	}

	// ==================================
	// ==================================
	.container__images-slot .input-container {
		width: max-content !important;
	}

	.input__image-banner {
		width: 28rem;
		aspect-ratio: 16 / 9;
	}
}
