@use '../../abstracts/' as *;

.profile {
	aspect-ratio: 1;
	background: $profile-background;

	&:is([data-variant='default']) {
		width: $profile-scale;
	}

	&:is([data-variant='big']) {
		width: $profile-scale-big;
	}
}
