@use '../../abstracts/' as *;
@use '../mixins' as *;

.button[data-variant='default'] {
	@include createButton();
}

.button[data-variant='primary'] {
	@include createButton(
		$background-color: $primary-button-background-color,
		$background-color-on-hov: $primary-button-background-color-on-hov,
		$border: $primary-button-border,
		$border-radius: $primary-button-border-radius,
		$color: $primary-button-color,
		$font-size: $primary-button-font-size,
		$padding: $primary-button-padding
	);
}

.button[data-variant='difference'] {
	@include createButton(
		$background-color: $difference-button-background-color,
		$background-color-on-hov: $difference-button-background-color-on-hov,
		$border: $difference-button-border,

		$border-radius: $primary-button-border-radius,
		$color: $primary-button-color,
		$font-size: $primary-button-font-size,
		$padding: $primary-button-padding
	);
}

.button[data-variant='upvote-difference'] {
	@include createButton(
		$background-color: $difference-upvote-button-background-color,
		$background-color-on-hov: $difference-upvote-button-background-color-on-hov,
		$border: $difference-upvote-button-border,
		$color: $difference-upvote-button-color,

		$border-radius: $primary-button-border-radius,
		$font-size: $primary-button-font-size,
		$padding: $primary-button-padding
	);
}

.button[data-variant='downvote'] {
	@include createButton(
		$background-color: $downvote-button-background-color,
		$background-color-on-hov: $downvote-button-background-color-on-hov,
		$border: $downvote-button-border,

		$border-radius: $primary-button-border-radius,
		$font-size: $primary-button-font-size,
		$padding: $primary-button-padding
	);
}

.button[data-variant='downvote-difference'] {
	@include createButton(
		$background-color: $difference-downvote-button-background-color,
		$background-color-on-hov: $difference-downvote-button-background-color-on-hov,
		$border: $difference-downvote-button-border,
		$color: $difference-downvote-button-color,

		$border-radius: $primary-button-border-radius,
		$font-size: $primary-button-font-size,
		$padding: $primary-button-padding
	);
}

.button[data-variant='tool'] {
	@include createButton(
		$background-color: $tool-button-background-color,
		$background-color-on-hov: $tool-button-background-color-on-hov,
		$border: $tool-button-border,
		$border-radius: $tool-button-border-radius,
		$color: $tool-button-color,
		$font-size: $tool-button-font-size,
		$padding: $tool-button-padding
	);
}

// ======================================================================
// ======================================================================

.button:is([data-secondary-variant='small']) {
	font-size: $button-font-size-small;
	padding: $button-padding-small;
}

.button:is([data-secondary-variant='extra-small']) {
	font-size: $button-font-size-extra-small;
	padding: $button-padding-small;
}

.button:is([data-secondary-variant='square']) {
	padding: $button-padding-square;
}

.button:is([data-secondary-variant='sausage']) {
	padding: $button-padding-sausage;
	border-radius: 100vmax;
}
