@use '../../abstracts/' as *;
@use '../mixins' as *;

.input-container {
	.input[data-variant='default'] {
		@include createInput();
	}

	input[type='checkbox'] {
		accent-color: $clr-primary;
	}

	// ===========
	// Misc
	// ===========
	.container__end-icon {
		@include transformCenter($left: calc(100% - #{$input-end-icon-distance}));
	}

	.input__password-toggler {
		@include transformCenter($left: 96%, $top: 50%);
	}

	.input__image-preview {
		width: $input-profile-width;
		aspect-ratio: 1;
	}

	&:has(input:where(:hover, :focus)) .container__end-icon {
		color: var(--clr-input-border-hover);
	}

	// Input stylings
	label[data-input-variant='image'] {
		.input__image-container {
			background-color: $input-square-image-background-color;
			border: $theme-border-light;
		}

		// ============================================================
		// Image input stylings
		&[data-variant='square-image'] .input__image-container {
			width: $input-square-image-width;
			aspect-ratio: 1;
		}

		&[data-variant='banner-image'] .input__image-container {
			width: 100%;
			height: $input-banner-image-height;

			aspect-ratio: 16 / 9;
		}
		// ============================================================

		&[data-valid='false'] .input__image-container {
			border-color: $clr-error;
		}

		&[data-valid='true'] .input__image-container {
			border-color: $clr-success;
		}
	}
}
