@use '../../abstracts/' as *;
@use '../mixins' as *;

.input-container {
	.input[data-variant='default'] {
		@include createInput();
	}

	input[type='checkbox'] {
		accent-color: $clr-primary;
	}

	&:is(:hover, :focus, :focus-within) .input__dropdown:not(:empty),
	.input__dropdown:is(:hover, :focus):not(:empty),
	.input__dropdown:not(:empty)[data-state='relative'] {
		transform: translateY(0%) scale(1);
		opacity: 1;
	}

	&:is(:focus-within) .input__dropdown {
		border-color: $theme-border-color-light;
	}

	.input__dropdown {
		width: 100%;

		background-color: $def-input-background-color;
		padding: 0.5em;

		box-shadow: $theme-shadow;
		border: $theme-border-dark;
		border-radius: $border-radius-cubed;

		pointer-events: all;
		opacity: 0;
		transform: translateY(10%) scale(0);
		transition: opacity $input-dropdown-opacity-duration $input-dropdown-opacity-delay ease-in-out,
			transform $input-dropdown-transform-duration $input-dropdown-transform-delay linear;
		z-index: 9999999;
	}

	// ===========
	// Misc
	// ===========
	.container__end-icon {
		@include transformCenter($left: calc(100% - #{$input-end-icon-distance}));
	}

	.input__password-toggler {
		@include transformCenter($left: 96%, $top: 50%);
	}

	.input__image-preview {
		width: $input-profile-width;
		aspect-ratio: 1;
	}

	&:has(input:where(:hover, :focus)) .container__end-icon {
		color: var(--clr-input-border-hover);
	}

	// Input stylings
	label[data-input-variant='image'] {
		.input__image-container {
			background-color: $input-square-image-background-color;
			border: $theme-border-light;
		}

		// ============================================================
		// Image input stylings
		&[data-variant='square-image'] .input__image-container {
			width: $input-square-image-width;
			aspect-ratio: 1;
		}

		&[data-variant='banner-image'] .input__image-container {
			width: 100%;
			height: $input-banner-image-height;

			aspect-ratio: 16 / 9;
		}
		// ============================================================

		&[data-valid='false'] .input__image-container {
			border-color: $clr-error;
		}

		&[data-valid='true'] .input__image-container {
			border-color: $clr-success;
		}
	}
}

// For desktop
@media screen and (min-width: $breakpoint-medium) {
	.input-container {
		.input__dropdown {
			max-height: 25vw;
		}
	}
}
