@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");
.clr-background-300 {
  color: #302f37;
}

.clr-background-400 {
  color: #202026;
}

.clr-card-300 {
  color: #44434f;
}

.clr-card-400 {
  color: #575665;
}

.clr-card-600 {
  color: #727184;
}

.clr-card-error-difference-background {
  color: rgba(252, 70, 64, 0.3);
}

.clr-card-primary-difference-background {
  color: rgba(64, 158, 252, 0.3);
}

.clr-markdown-code {
  color: #44434f;
}

.clr-hoverable-400 {
  color: rgba(167, 166, 179, 0.38);
}

.clr-text-difference {
  color: black;
}

.clr-text-accent {
  color: white;
}

.clr-text-muted {
  color: #cccccc;
}

.clr-text-error {
  color: #fd8c81;
}

.clr-text-primary {
  color: #70b6ff;
}

.clr-input-background {
  color: #43424d;
}

.clr-input-border {
  color: #77758a;
}

.clr-input-border-hover {
  color: #c3c2cb;
}

.clr-button-background {
  color: rgba(76, 75, 88, 0.88);
}

.clr-button-background-hover {
  color: #6d6c7f;
}

.clr-button-primary-background {
  color: #0069d6;
}

.clr-button-primary-background-hover {
  color: #0073eb;
}

.clr-button-tool-background {
  color: rgba(64, 78, 150, 0.4);
}

.clr-button-tool-background-hover {
  color: #0998ae;
}

.clr-button-background-dark {
  color: #302f37;
}

.clr-button-background-dark-hover {
  color: #393842;
}

.clr-button-downvote-hover {
  color: #fd645e;
}

.clr-button-difference {
  color: rgba(86, 84, 99, 0.5);
}

.clr-button-difference-hover {
  color: #5f5e6e;
}

.clr-button-difference-upvote {
  color: rgba(64, 127, 252, 0.3);
}

.clr-button-difference-upvote-color {
  color: #9bbcfd;
}

.clr-button-difference-upvote-hover {
  color: #407ffc;
}

.clr-button-difference-upvote-border {
  color: #407ffc;
}

.clr-button-difference-downvote {
  color: rgba(252, 70, 64, 0.3);
}

.clr-button-difference-downvote-color {
  color: #fd9e9b;
}

.clr-button-difference-downvote-hover {
  color: #fc4640;
}

.clr-button-difference-downvote-border {
  color: #fc4640;
}

.clr-button-hologram-background {
  color: rgba(0, 107, 163, 0.46);
}

.clr-button-hologram-background-hover {
  color: rgba(0, 161, 245, 0.46);
}

.clr-misc-selection {
  color: #ecf7f9;
}

.clr-misc-selection-shadow {
  color: rgba(0, 115, 133, 0.36);
}

.clr-misc-link {
  color: #3d9cff;
}

.clr-misc-link-bright {
  color: #c2e0ff;
}

.clr-misc-link-hover {
  color: #57a9ff;
}

.clr-misc-modal-background {
  color: rgba(0, 0, 0, 0.65);
}

.clr-misc-skeletron-background {
  color: rgba(128, 128, 128, 0.7);
}

.clr-misc-hologram-color {
  color: #b8cfff;
}

.margin-block-end-05 {
  margin-block-end: 0.25em;
}

.padding-block-small {
  padding-block: 0.25em;
}

.gap-05 {
  gap: 0.35em;
}

:where(.flow-1 > * + *) {
  margin-block-start: 0.5em;
}

:where(.flow-2 > * + *) {
  margin-block-start: 1em;
}

:where(.flow-3 > * + *) {
  margin-block-start: 1.5em;
}

:where(.flow-4 > * + *) {
  margin-block-start: 2em;
}

:where(.flow-5 > * + *) {
  margin-block-start: 2.5em;
}

.padding-1 {
  padding: 0.5em;
}

.margin-1 {
  margin: 0.5em;
}

.gap-1 {
  gap: 0.5em;
}

.padding-inline-auto {
  padding-inline: auto;
}

.margin-inline-auto {
  margin-inline: auto;
}

.padding-inline-start-auto {
  padding-inline-start: auto;
}

.margin-inline-start-auto {
  margin-inline-start: auto;
}

.padding-inline-end-auto {
  padding-inline-end: auto;
}

.margin-inline-end-auto {
  margin-inline-end: auto;
}

.padding-block-auto {
  padding-block: auto;
}

.margin-block-auto {
  margin-block: auto;
}

.padding-block-start-auto {
  padding-block-start: auto;
}

.margin-block-start-auto {
  margin-block-start: auto;
}

.padding-block-end-auto {
  padding-block-end: auto;
}

.margin-block-end-auto {
  margin-block-end: auto;
}

.padding-top-auto {
  padding-top: auto;
}

.margin-top-auto {
  margin-top: auto;
}

.padding-right-auto {
  padding-right: auto;
}

.margin-right-auto {
  margin-right: auto;
}

.padding-left-auto {
  padding-left: auto;
}

.margin-left-auto {
  margin-left: auto;
}

.padding-bottom-auto {
  padding-bottom: auto;
}

.margin-bottom-auto {
  margin-bottom: auto;
}

.padding-inline-1 {
  padding-inline: 0.5em;
}

.margin-inline-1 {
  margin-inline: 0.5em;
}

.padding-block-1 {
  padding-block: 0.5em;
}

.margin-block-1 {
  margin-block: 0.5em;
}

.padding-top-1 {
  padding-top: 0.5em;
}

.margin-top-1 {
  margin-top: 0.5em;
}

.padding-right-1 {
  padding-right: 0.5em;
}

.margin-right-1 {
  margin-right: 0.5em;
}

.padding-left-1 {
  padding-left: 0.5em;
}

.margin-left-1 {
  margin-left: 0.5em;
}

.padding-bottom-1 {
  padding-bottom: 0.5em;
}

.margin-bottom-1 {
  margin-bottom: 0.5em;
}

.padding-inline-start-1 {
  padding-inline-start: 0.5em;
}

.margin-inline-start-1 {
  margin-inline-start: 0.5em;
}

.padding-inline-end-1 {
  padding-inline-end: 0.5em;
}

.margin-inline-end-1 {
  margin-inline-end: 0.5em;
}

.padding-block-start-1 {
  padding-block-start: 0.5em;
}

.margin-block-start-1 {
  margin-block-start: 0.5em;
}

.padding-block-end-1 {
  padding-block-end: 0.5em;
}

.margin-block-end-1 {
  margin-block-end: 0.5em;
}

.padding-2 {
  padding: 1em;
}

.margin-2 {
  margin: 1em;
}

.gap-2 {
  gap: 1em;
}

.padding-inline-auto {
  padding-inline: auto;
}

.margin-inline-auto {
  margin-inline: auto;
}

.padding-inline-start-auto {
  padding-inline-start: auto;
}

.margin-inline-start-auto {
  margin-inline-start: auto;
}

.padding-inline-end-auto {
  padding-inline-end: auto;
}

.margin-inline-end-auto {
  margin-inline-end: auto;
}

.padding-block-auto {
  padding-block: auto;
}

.margin-block-auto {
  margin-block: auto;
}

.padding-block-start-auto {
  padding-block-start: auto;
}

.margin-block-start-auto {
  margin-block-start: auto;
}

.padding-block-end-auto {
  padding-block-end: auto;
}

.margin-block-end-auto {
  margin-block-end: auto;
}

.padding-top-auto {
  padding-top: auto;
}

.margin-top-auto {
  margin-top: auto;
}

.padding-right-auto {
  padding-right: auto;
}

.margin-right-auto {
  margin-right: auto;
}

.padding-left-auto {
  padding-left: auto;
}

.margin-left-auto {
  margin-left: auto;
}

.padding-bottom-auto {
  padding-bottom: auto;
}

.margin-bottom-auto {
  margin-bottom: auto;
}

.padding-inline-2 {
  padding-inline: 1em;
}

.margin-inline-2 {
  margin-inline: 1em;
}

.padding-block-2 {
  padding-block: 1em;
}

.margin-block-2 {
  margin-block: 1em;
}

.padding-top-2 {
  padding-top: 1em;
}

.margin-top-2 {
  margin-top: 1em;
}

.padding-right-2 {
  padding-right: 1em;
}

.margin-right-2 {
  margin-right: 1em;
}

.padding-left-2 {
  padding-left: 1em;
}

.margin-left-2 {
  margin-left: 1em;
}

.padding-bottom-2 {
  padding-bottom: 1em;
}

.margin-bottom-2 {
  margin-bottom: 1em;
}

.padding-inline-start-2 {
  padding-inline-start: 1em;
}

.margin-inline-start-2 {
  margin-inline-start: 1em;
}

.padding-inline-end-2 {
  padding-inline-end: 1em;
}

.margin-inline-end-2 {
  margin-inline-end: 1em;
}

.padding-block-start-2 {
  padding-block-start: 1em;
}

.margin-block-start-2 {
  margin-block-start: 1em;
}

.padding-block-end-2 {
  padding-block-end: 1em;
}

.margin-block-end-2 {
  margin-block-end: 1em;
}

.padding-3 {
  padding: 1.5em;
}

.margin-3 {
  margin: 1.5em;
}

.gap-3 {
  gap: 1.5em;
}

.padding-inline-auto {
  padding-inline: auto;
}

.margin-inline-auto {
  margin-inline: auto;
}

.padding-inline-start-auto {
  padding-inline-start: auto;
}

.margin-inline-start-auto {
  margin-inline-start: auto;
}

.padding-inline-end-auto {
  padding-inline-end: auto;
}

.margin-inline-end-auto {
  margin-inline-end: auto;
}

.padding-block-auto {
  padding-block: auto;
}

.margin-block-auto {
  margin-block: auto;
}

.padding-block-start-auto {
  padding-block-start: auto;
}

.margin-block-start-auto {
  margin-block-start: auto;
}

.padding-block-end-auto {
  padding-block-end: auto;
}

.margin-block-end-auto {
  margin-block-end: auto;
}

.padding-top-auto {
  padding-top: auto;
}

.margin-top-auto {
  margin-top: auto;
}

.padding-right-auto {
  padding-right: auto;
}

.margin-right-auto {
  margin-right: auto;
}

.padding-left-auto {
  padding-left: auto;
}

.margin-left-auto {
  margin-left: auto;
}

.padding-bottom-auto {
  padding-bottom: auto;
}

.margin-bottom-auto {
  margin-bottom: auto;
}

.padding-inline-3 {
  padding-inline: 1.5em;
}

.margin-inline-3 {
  margin-inline: 1.5em;
}

.padding-block-3 {
  padding-block: 1.5em;
}

.margin-block-3 {
  margin-block: 1.5em;
}

.padding-top-3 {
  padding-top: 1.5em;
}

.margin-top-3 {
  margin-top: 1.5em;
}

.padding-right-3 {
  padding-right: 1.5em;
}

.margin-right-3 {
  margin-right: 1.5em;
}

.padding-left-3 {
  padding-left: 1.5em;
}

.margin-left-3 {
  margin-left: 1.5em;
}

.padding-bottom-3 {
  padding-bottom: 1.5em;
}

.margin-bottom-3 {
  margin-bottom: 1.5em;
}

.padding-inline-start-3 {
  padding-inline-start: 1.5em;
}

.margin-inline-start-3 {
  margin-inline-start: 1.5em;
}

.padding-inline-end-3 {
  padding-inline-end: 1.5em;
}

.margin-inline-end-3 {
  margin-inline-end: 1.5em;
}

.padding-block-start-3 {
  padding-block-start: 1.5em;
}

.margin-block-start-3 {
  margin-block-start: 1.5em;
}

.padding-block-end-3 {
  padding-block-end: 1.5em;
}

.margin-block-end-3 {
  margin-block-end: 1.5em;
}

.padding-4 {
  padding: 2em;
}

.margin-4 {
  margin: 2em;
}

.gap-4 {
  gap: 2em;
}

.padding-inline-auto {
  padding-inline: auto;
}

.margin-inline-auto {
  margin-inline: auto;
}

.padding-inline-start-auto {
  padding-inline-start: auto;
}

.margin-inline-start-auto {
  margin-inline-start: auto;
}

.padding-inline-end-auto {
  padding-inline-end: auto;
}

.margin-inline-end-auto {
  margin-inline-end: auto;
}

.padding-block-auto {
  padding-block: auto;
}

.margin-block-auto {
  margin-block: auto;
}

.padding-block-start-auto {
  padding-block-start: auto;
}

.margin-block-start-auto {
  margin-block-start: auto;
}

.padding-block-end-auto {
  padding-block-end: auto;
}

.margin-block-end-auto {
  margin-block-end: auto;
}

.padding-top-auto {
  padding-top: auto;
}

.margin-top-auto {
  margin-top: auto;
}

.padding-right-auto {
  padding-right: auto;
}

.margin-right-auto {
  margin-right: auto;
}

.padding-left-auto {
  padding-left: auto;
}

.margin-left-auto {
  margin-left: auto;
}

.padding-bottom-auto {
  padding-bottom: auto;
}

.margin-bottom-auto {
  margin-bottom: auto;
}

.padding-inline-4 {
  padding-inline: 2em;
}

.margin-inline-4 {
  margin-inline: 2em;
}

.padding-block-4 {
  padding-block: 2em;
}

.margin-block-4 {
  margin-block: 2em;
}

.padding-top-4 {
  padding-top: 2em;
}

.margin-top-4 {
  margin-top: 2em;
}

.padding-right-4 {
  padding-right: 2em;
}

.margin-right-4 {
  margin-right: 2em;
}

.padding-left-4 {
  padding-left: 2em;
}

.margin-left-4 {
  margin-left: 2em;
}

.padding-bottom-4 {
  padding-bottom: 2em;
}

.margin-bottom-4 {
  margin-bottom: 2em;
}

.padding-inline-start-4 {
  padding-inline-start: 2em;
}

.margin-inline-start-4 {
  margin-inline-start: 2em;
}

.padding-inline-end-4 {
  padding-inline-end: 2em;
}

.margin-inline-end-4 {
  margin-inline-end: 2em;
}

.padding-block-start-4 {
  padding-block-start: 2em;
}

.margin-block-start-4 {
  margin-block-start: 2em;
}

.padding-block-end-4 {
  padding-block-end: 2em;
}

.margin-block-end-4 {
  margin-block-end: 2em;
}

.padding-5 {
  padding: 2.5em;
}

.margin-5 {
  margin: 2.5em;
}

.gap-5 {
  gap: 2.5em;
}

.padding-inline-auto {
  padding-inline: auto;
}

.margin-inline-auto {
  margin-inline: auto;
}

.padding-inline-start-auto {
  padding-inline-start: auto;
}

.margin-inline-start-auto {
  margin-inline-start: auto;
}

.padding-inline-end-auto {
  padding-inline-end: auto;
}

.margin-inline-end-auto {
  margin-inline-end: auto;
}

.padding-block-auto {
  padding-block: auto;
}

.margin-block-auto {
  margin-block: auto;
}

.padding-block-start-auto {
  padding-block-start: auto;
}

.margin-block-start-auto {
  margin-block-start: auto;
}

.padding-block-end-auto {
  padding-block-end: auto;
}

.margin-block-end-auto {
  margin-block-end: auto;
}

.padding-top-auto {
  padding-top: auto;
}

.margin-top-auto {
  margin-top: auto;
}

.padding-right-auto {
  padding-right: auto;
}

.margin-right-auto {
  margin-right: auto;
}

.padding-left-auto {
  padding-left: auto;
}

.margin-left-auto {
  margin-left: auto;
}

.padding-bottom-auto {
  padding-bottom: auto;
}

.margin-bottom-auto {
  margin-bottom: auto;
}

.padding-inline-5 {
  padding-inline: 2.5em;
}

.margin-inline-5 {
  margin-inline: 2.5em;
}

.padding-block-5 {
  padding-block: 2.5em;
}

.margin-block-5 {
  margin-block: 2.5em;
}

.padding-top-5 {
  padding-top: 2.5em;
}

.margin-top-5 {
  margin-top: 2.5em;
}

.padding-right-5 {
  padding-right: 2.5em;
}

.margin-right-5 {
  margin-right: 2.5em;
}

.padding-left-5 {
  padding-left: 2.5em;
}

.margin-left-5 {
  margin-left: 2.5em;
}

.padding-bottom-5 {
  padding-bottom: 2.5em;
}

.margin-bottom-5 {
  margin-bottom: 2.5em;
}

.padding-inline-start-5 {
  padding-inline-start: 2.5em;
}

.margin-inline-start-5 {
  margin-inline-start: 2.5em;
}

.padding-inline-end-5 {
  padding-inline-end: 2.5em;
}

.margin-inline-end-5 {
  margin-inline-end: 2.5em;
}

.padding-block-start-5 {
  padding-block-start: 2.5em;
}

.margin-block-start-5 {
  margin-block-start: 2.5em;
}

.padding-block-end-5 {
  padding-block-end: 2.5em;
}

.margin-block-end-5 {
  margin-block-end: 2.5em;
}

.grid-repeater-1 {
  grid-template-columns: repeat(1, 1fr);
  height: 100%;
}

.grid-repeater-2 {
  grid-template-columns: repeat(2, 1fr);
  height: 100%;
}

.grid-repeater-3 {
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
}

.grid-repeater-4 {
  grid-template-columns: repeat(4, 1fr);
  height: 100%;
}

.grid-repeater-5 {
  grid-template-columns: repeat(5, 1fr);
  height: 100%;
}

.grid-repeater-6 {
  grid-template-columns: repeat(6, 1fr);
  height: 100%;
}

.fs-200 {
  font-size: var(--fs-200) !important;
}

.fs-300 {
  font-size: var(--fs-300) !important;
}

.fs-350 {
  font-size: var(--fs-350) !important;
}

.fs-400 {
  font-size: var(--fs-400) !important;
}

.fs-450 {
  font-size: var(--fs-450) !important;
}

.fs-500 {
  font-size: var(--fs-500) !important;
}

.fs-600 {
  font-size: var(--fs-600) !important;
}

.fs-700 {
  font-size: var(--fs-700) !important;
}

.fs-800 {
  font-size: var(--fs-800) !important;
}

.fw-100 {
  font-weight: 100;
}

.fw-200 {
  font-weight: 200;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.fw-800 {
  font-weight: 800;
}

.fw-900 {
  font-weight: 900;
}

.fw-bold {
  font-weight: bold;
}

.fw-normal {
  font-weight: normal;
}

.fw-bolder {
  font-weight: bolder;
}

.fw-lighter {
  font-weight: lighter;
}

.fw-light {
  font-weight: light;
}

.main-container {
  width: min(100%, calc(100% - 1rem));
  padding-inline: 0.5rem;
  margin-inline: auto;
  grid-area: mainContainer;
}

.secondary-container {
  width: min(900px, calc(100% - 1rem));
  padding-inline: 0.5rem;
  margin-inline: auto;
}

.feed-container {
  place-items: start;
  grid-template-columns: 65% auto;
}

.primary-navbar {
  background-color: var(--clr-background-300);
  grid-area: navigation;
}
.primary-navbar:is(:hover, :focus):is(> .input-container:is(:hover, :focus)) .input__dropdown:not(:empty) {
  transform: translateY(0%);
  pointer-events: all;
  opacity: 1;
}
.primary-navbar .navbar__search-input {
  width: 100%;
}
.primary-navbar[data-row-layout=true] *.flex {
  align-items: center;
}

.main-layout[data-layout=column] {
  grid-template-areas: "navigation" "mainContainer";
}

.main-layout[data-layout=row] {
  grid-template-columns: max-content 1fr;
  grid-template-rows: 100vh;
  grid-template-areas: "navigation mainContainer";
}

.context-menu {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: 0;
  pointer-events: none;
  opacity: 0;
  box-shadow: 0 0 16px 2px var(--clr-misc-shadow);
  z-index: 999999999999999;
}
.context-menu:is(:focus, :focus-within) {
  pointer-events: all;
  opacity: 1;
}

.post {
  border: 2px solid var(--clr-input-border);
  max-width: 100%;
  border-radius: 5px;
}
.post:is([data-collapse=true]) .post__title {
  margin-block-end: 0;
}
.post:is([data-collapse=true]) .post__content,
.post:is([data-collapse=true]) .post__footer {
  display: none;
}
.post .post__iframe-container iframe {
  width: 100%;
  aspect-ratio: 16/9;
}
.post:is(:hover) {
  border: 2px solid var(--clr-input-border-hover);
}
.post .post__images {
  width: 100%;
  aspect-ratio: 16/9;
}
.post .post__images img {
  background-color: var(--clr-text-difference);
}
.post .post__images .images__dots {
  top: 92%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  mix-blend-mode: difference;
  gap: 0.75em;
  z-index: 9999;
}
.post .post__images .images__dots .dot {
  width: 0.85rem;
  aspect-ratio: 1;
  border: 2px solid var(--clr-input-border);
}
.post .post__images .images__dots .dot:is(:hover) {
  border: 2px solid var(--clr-input-border-hover);
}
.post .post__images .images__dots .dot:is([data-selected=true]) {
  border: 2px solid var(--clr-input-border-hover);
  background-color: var(--clr-input-border-hover);
}
.post .post__video iframe {
  width: 100%;
  aspect-ratio: 16/9;
}

@media screen and (max-width: 50em) {
  .post .post__images {
    height: 100%;
    object-fit: contain;
    aspect-ratio: 1/1;
  }
}
.drawer-container {
  display: grid;
  grid-template-areas: "colors canvas menu" "colors controls menu";
  grid-template-columns: repeat(3, 1fr);
}
.drawer-container .card {
  overflow-y: auto;
}
.drawer-container .drawer__controls {
  grid-area: controls;
}
.drawer-container .drawer__canvas {
  width: 488px;
  height: 488px;
  grid-area: canvas;
}
.drawer-container .drawer__canvas canvas {
  border: 2px solid var(--clr-input-border);
}
.drawer-container .drawer__colors-grid {
  grid-area: colors;
}
.drawer-container .drawer__colors {
  grid-template-columns: repeat(auto-fill, 32px);
}
.drawer-container .drawer__colors .color__cube {
  width: 100%;
  border: 2px solid var(--clr-text-difference);
  aspect-ratio: 1;
}
.drawer-container .drawer__colors .color__cube[data-preserve-size] {
  width: 32px;
}
.drawer-container .drawer__colors .color__cube[data-selected=true] {
  border-color: var(--clr-misc-link);
}
.drawer-container .drawer__menu {
  grid-area: menu;
}
.drawer-container .drawer__tools {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: 0.5em;
}

@media screen and (max-width: 65em) {
  .drawer-container {
    grid-template-areas: "canvas" "colors" "controls" "menu";
    grid-template-columns: auto;
  }
}
.community-view .view__header .header__banner {
  min-width: 100%;
  max-height: clamp(128px, 16vw, 256px);
  aspect-ratio: 16/9;
}
.community-view .view__header .header__info {
  top: 50%;
  left: 50%;
  transform: translate(-50%, 75%);
}
.community-view .view__header .header__profile {
  width: clamp(4em, 12vw, 6em);
  aspect-ratio: 1;
  border-radius: 100vw;
  padding: 0.5em;
  background-color: var(--clr-background-400);
}

.profile {
  aspect-ratio: 1;
  background: linear-gradient(to left, red, green, blue);
}
.profile:is([data-variant=default]) {
  width: clamp(1.55em, 12vw, 2.25em);
}
.profile:is([data-variant=big]) {
  width: clamp(4.55em, 12vw, 8.25em);
}

.card[data-variant=default] {
  background-color: var(--clr-card-400);
  border: 2px solid var(--clr-input-border);
  border-radius: 9px;
}
.card[data-variant=default]:is(:focus-visible, :hover) {
  border-color: none;
}
.card[data-variant=default] .card__header {
  background-color: var(--clr-card-600);
}

.card[data-variant=difference] {
  background-color: var(--clr-card-300);
  border: 2px solid var(--clr-card-400);
  border-radius: 9px;
}
.card[data-variant=difference]:is(:focus-visible, :hover) {
  border-color: none;
}

.card[data-variant=error-difference] {
  background-color: var(--clr-card-error-difference-background);
  border: 2px solid var(--clr-text-error);
  border-radius: 9px;
}
.card[data-variant=error-difference]:is(:focus-visible, :hover) {
  border-color: none;
}

.card[data-variant=primary-difference] {
  background-color: var(--clr-card-primary-difference-background);
  border: 2px solid var(--clr-text-primary);
  border-radius: 9px;
}
.card[data-variant=primary-difference]:is(:focus-visible, :hover) {
  border-color: none;
}

.card[data-variant=dark] {
  background-color: var(--clr-background-300);
  border: 2px solid var(--clr-input-border);
  border-radius: 9px;
}
.card[data-variant=dark]:is(:focus-visible, :hover) {
  border-color: none;
}
.card[data-variant=dark] .card__header {
  background-color: var(--clr-card-400);
}

.card:is([data-secondary-variant=default-background]) {
  border: none;
  border-radius: 0px;
}

.card {
  overflow: hidden;
}
.card a {
  color: var(--clr-misc-link-bright);
}

.form-container {
  max-width: 76vw;
  margin-inline: auto;
}
.form-container .inner-form-container[data-show-form=false] {
  display: none;
}
.form-container .nested-form-container .inner-form-container > .card {
  border: none;
}
.form-container .nested-form-container .inner-form-container > .card > .card {
  border: none;
}
.form-container .form__counter .inactive-bar, .form-container .form__counter::after {
  content: "";
  position: absolute;
  top: 60%;
  left: 0;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 8px;
  transform: scaleX(1);
  border-radius: 100vmax;
}
.form-container .form__counter .inactive-bar {
  background-color: var(--clr-card-300);
  z-index: -2;
}
.form-container .form__counter::after {
  background-color: var(--clr-button-primary-background-hover);
  transform: scaleX(calc(var(--data-completed) / var(--data-amount)));
  transform-origin: left;
  z-index: -1;
}
.form-container .form__counter .counter__container {
  place-items: center;
}
.form-container .form__counter .counter__container:first-child {
  place-items: start;
}
.form-container .form__counter .counter__container:last-child {
  place-items: end;
}
.form-container .container__images-slot .input-container {
  width: max-content !important;
}
.form-container .input__image-banner {
  width: 28rem;
  aspect-ratio: 16/9;
}

.main-modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 25vw;
  color: var(--clr-text-accent);
}
.main-modal::backdrop {
  background-color: var(--clr-misc-modal-background, rgba(0, 0, 0, 0.65));
}
.main-modal:is([data-background-transparent=true]) {
  background-color: transparent !important;
  border: 0;
}

@media screen and (max-width: 50em) {
  .main-modal {
    min-width: 80vw;
  }
  .main-modal * {
    height: auto;
  }
}
.tooltip-container {
  max-width: 25vw;
}
.tooltip-container .tooltip {
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  width: max-content;
}

.skeletron {
  width: 100%;
  background-color: var(--clr-misc-skeletron-background);
  animation: skeletronAnim 1.25s ease-in-out infinite alternate;
}
.skeletron__text {
  padding: 0.25em 0.6em;
  width: max-content;
  border-radius: 100vw;
}
.skeletron__text[data-variant=small] {
  padding: 0.15em 0.45em;
}
.skeletron__text > *:not(.skeletron, .flex) {
  visibility: hidden;
}
.skeletron__plane {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 9px;
}
.skeletron__plane > *:not(.skeletron, .flex) {
  visibility: hidden;
}
.skeletron__card {
  width: 100%;
  border-radius: 9px;
}
.skeletron__profile {
  width: clamp(1.55em, 12vw, 2.25em);
  aspect-ratio: 1;
  border-radius: 9px;
}
.skeletron__profile[data-variant=big] {
  width: clamp(4.55em, 12vw, 8.25em);
}
.skeletron__banner {
  width: 100%;
  height: clamp(128px, 16vw, 256px);
  aspect-ratio: 16/9;
  border-radius: 9px;
}

@keyframes skeletronAnim {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.98;
  }
  100% {
    opacity: 0.8;
  }
}
.post__comment .comment__expand-button {
  top: 50%;
  left: -0.75rem;
  transform: translate(-50%, -50%);
  background-color: var(--clr-hoverable-400);
  width: 6px;
  height: 100%;
  border-radius: 100vw;
  cursor: pointer;
}
.post__comment .comment__expand-button:is(:focus, :hover) {
  background-color: var(--clr-input-border-hover);
}

.dynamic-label .dynamic-label__name {
  max-width: 16ch;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.input-container .input[data-variant=default] {
  font-size: var(--fs-400);
  padding: 0.475em 0.9em;
  background-color: var(--clr-input-background);
  border: 2px solid var(--clr-input-border);
  border-radius: 9px;
}
.input-container .input[data-variant=default]:is(:focus-visible, :hover) {
  border-color: var(--clr-input-border-hover);
}
.input-container input[type=checkbox] {
  accent-color: var(--clr-text-primary);
}
.input-container:is(:hover, :focus, :focus-within) .input__dropdown:not(:empty),
.input-container .input__dropdown:is(:hover, :focus):not(:empty),
.input-container .input__dropdown:not(:empty)[data-state=relative] {
  transform: translateY(0%) scale(1);
  opacity: 1;
}
.input-container:is(:focus-within) .input__dropdown {
  border-color: var(--clr-input-border-hover);
}
.input-container .input__dropdown {
  width: 100%;
  background-color: var(--clr-input-background);
  padding: 0.5em;
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.75);
  border: 2px solid var(--clr-card-400);
  border-radius: 9px;
  pointer-events: all;
  opacity: 0;
  transform: translateY(10%) scale(0);
  transition: opacity 200ms 25ms ease-in-out, transform 200ms 100ms linear;
  z-index: 9999999;
}
.input-container .container__end-icon {
  top: 50%;
  left: calc(100% - 2rem);
  transform: translate(-50%, -50%);
}
.input-container .input__password-toggler {
  top: 50%;
  left: 96%;
  transform: translate(-50%, -50%);
}
.input-container .input__image-preview {
  width: clamp(10rem, 16vw, 16rem);
  aspect-ratio: 1;
}
.input-container:has(input:where(:hover, :focus)) .container__end-icon {
  color: var(--clr-input-border-hover);
}
.input-container label[data-input-variant=image] .input__image-container {
  background-color: var(--clr-card-300);
  border: 2px solid var(--clr-input-border-hover);
}
.input-container label[data-input-variant=image][data-variant=square-image] .input__image-container {
  width: clamp(10rem, 20vw, 16rem);
  aspect-ratio: 1;
}
.input-container label[data-input-variant=image][data-variant=banner-image] .input__image-container {
  width: 100%;
  height: clamp(8rem, 16vw, 16rem);
  aspect-ratio: 16/9;
}
.input-container label[data-input-variant=image][data-valid=false] .input__image-container {
  border-color: var(--clr-text-error);
}
.input-container label[data-input-variant=image][data-valid=true] .input__image-container {
  border-color: var(--clr-button-difference-upvote-hover);
}

@media screen and (min-width: 65em) {
  .input-container .input__dropdown {
    max-height: 25vw;
  }
}
.button[data-variant=default] {
  font-size: var(--fs-400);
  padding: 0.5em 0.55em;
  background-color: var(--clr-button-background);
  color: var(--clr-text-accent);
  border: 2px solid var(--clr-input-border);
  border-radius: 9px;
  cursor: pointer;
  transition: background-color 95ms ease-in-out, color 95ms ease-in-out;
}
.button[data-variant=default] > .icon {
  font-size: var(--fs-400);
  color: var(--clr-text-accent);
}
.button[data-variant=default]:is(:focus-visible, :hover, [data-selected=true]) {
  background-color: var(--clr-button-background-hover);
  color: var(--clr-text-accent);
  border-color: var(--clr-button-background-hover);
}

.button[data-variant=primary] {
  font-size: var(--fs-400);
  padding: 0.575em 0.55em;
  background-color: var(--clr-button-primary-background);
  color: var(--clr-text-accent);
  border: none;
  border-radius: 9px;
  cursor: pointer;
  transition: background-color 95ms ease-in-out, color 95ms ease-in-out;
}
.button[data-variant=primary] > .icon {
  font-size: var(--fs-400);
  color: var(--clr-text-accent);
}
.button[data-variant=primary]:is(:focus-visible, :hover, [data-selected=true]) {
  background-color: var(--clr-button-primary-background-hover);
  color: var(--clr-text-accent);
  border-color: var(--clr-button-primary-background-hover);
}

.button[data-variant=difference] {
  font-size: var(--fs-400);
  padding: 0.575em 0.55em;
  background-color: var(--clr-button-difference);
  color: var(--clr-text-accent);
  border: 2px solid var(--clr-card-400);
  border-radius: 9px;
  cursor: pointer;
  transition: background-color 95ms ease-in-out, color 95ms ease-in-out;
}
.button[data-variant=difference] > .icon {
  font-size: var(--fs-400);
  color: var(--clr-text-accent);
}
.button[data-variant=difference]:is(:focus-visible, :hover, [data-selected=true]) {
  background-color: var(--clr-button-difference-hover);
  color: var(--clr-text-accent);
  border-color: var(--clr-button-difference-hover);
}

.button[data-variant=upvote-difference] {
  font-size: var(--fs-400);
  padding: 0.575em 0.55em;
  background-color: var(--clr-button-difference-upvote);
  color: var(--clr-button-difference-upvote-color);
  border: 2px solid var(--clr-button-difference-upvote-border);
  border-radius: 9px;
  cursor: pointer;
  transition: background-color 95ms ease-in-out, color 95ms ease-in-out;
}
.button[data-variant=upvote-difference] > .icon {
  font-size: var(--fs-400);
  color: var(--clr-button-difference-upvote-color);
}
.button[data-variant=upvote-difference]:is(:focus-visible, :hover, [data-selected=true]) {
  background-color: var(--clr-button-difference-upvote-hover);
  color: var(--clr-text-accent);
  border-color: var(--clr-button-difference-upvote-hover);
}

.button[data-variant=downvote] {
  font-size: var(--fs-400);
  padding: 0.575em 0.55em;
  background-color: var(--clr-button-difference-downvote-hover);
  color: var(--clr-text-accent);
  border: none;
  border-radius: 9px;
  cursor: pointer;
  transition: background-color 95ms ease-in-out, color 95ms ease-in-out;
}
.button[data-variant=downvote] > .icon {
  font-size: var(--fs-400);
  color: var(--clr-text-accent);
}
.button[data-variant=downvote]:is(:focus-visible, :hover, [data-selected=true]) {
  background-color: var(--clr-button-downvote-hover);
  color: var(--clr-text-accent);
  border-color: var(--clr-button-downvote-hover);
}

.button[data-variant=downvote-difference] {
  font-size: var(--fs-400);
  padding: 0.575em 0.55em;
  background-color: var(--clr-button-difference-downvote);
  color: var(--clr-button-difference-downvote-color);
  border: 2px solid var(--clr-button-difference-downvote-border);
  border-radius: 9px;
  cursor: pointer;
  transition: background-color 95ms ease-in-out, color 95ms ease-in-out;
}
.button[data-variant=downvote-difference] > .icon {
  font-size: var(--fs-400);
  color: var(--clr-button-difference-downvote-color);
}
.button[data-variant=downvote-difference]:is(:focus-visible, :hover, [data-selected=true]) {
  background-color: var(--clr-button-difference-downvote-hover);
  color: var(--clr-text-accent);
  border-color: var(--clr-button-difference-downvote-hover);
}

.button[data-variant=tool] {
  font-size: var(--fs-400);
  padding: 0.7em;
  background-color: var(--clr-button-tool-background);
  color: var(--clr-text-accent);
  border: none;
  border-radius: 9px;
  cursor: pointer;
  transition: background-color 95ms ease-in-out, color 95ms ease-in-out;
}
.button[data-variant=tool] > .icon {
  font-size: var(--fs-400);
  color: var(--clr-text-accent);
}
.button[data-variant=tool]:is(:focus-visible, :hover, [data-selected=true]) {
  background-color: var(--clr-button-tool-background-hover);
  color: var(--clr-text-accent);
  border-color: var(--clr-button-tool-background-hover);
}

.button[data-variant=hologram] {
  font-size: var(--fs-400);
  padding: 0.7em;
  background-color: var(--clr-button-hologram-background);
  color: var(--clr-misc-hologram-color);
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 95ms ease-in-out, color 95ms ease-in-out;
}
.button[data-variant=hologram] > .icon {
  font-size: var(--fs-400);
  color: var(--clr-misc-hologram-color);
}
.button[data-variant=hologram]:is(:focus-visible, :hover, [data-selected=true]) {
  background-color: var(--clr-button-hologram-background-hover);
  color: var(--clr-text-accent);
  border-color: var(--clr-button-hologram-background-hover);
}

.button:is([data-secondary-variant=small]) {
  font-size: var(--fs-350);
  padding: 0.4em 0.45em;
}

.button:is([data-secondary-variant=extra-small]) {
  font-size: calc(var(--fs-300) * 0.5);
  padding: 0.4em 0.45em;
}

.button:is([data-secondary-variant=square]) {
  padding: 0.5em 0.75em;
}

.button:is([data-secondary-variant=sausage]) {
  padding: 0.55em 2em;
  border-radius: 100vmax;
}

.markdown code {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  padding: 0.25em;
  background-color: var(--clr-markdown-code);
  border-radius: 9px;
}
.markdown .spoiler {
  display: inline-block;
  padding: 0.25em;
  background-color: black;
  border-radius: 9px;
  color: black;
}
.markdown .spoiler:is(:hover, :focus) {
  color: white;
}

.media-scroller {
  display: grid;
  max-width: 92vw;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  overflow-x: auto;
  overscroll-behavior-inline: contain;
}

.icon {
  font-family: "Font Awesome 5 Free";
  font-size: var(--fs-500);
  color: inherit;
}

.icon:not([data-custom-weight=true]) {
  font-weight: bold;
}

.text-muted {
  color: var(--clr-text-muted);
}

.text-capital {
  text-transform: capitalize;
}

.text-elliptic {
  max-width: var(--_max-width, 64ch);
  --webkit-line-clamp: 2;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.text-ellipsis-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  word-break: break-all;
  overflow: hidden;
  hyphens: auto;
}

.text-ellipsis-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-break: break-all;
  overflow: hidden;
  hyphens: auto;
}

.text-ellipsis-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  word-break: break-all;
  overflow: hidden;
  hyphens: auto;
}

.text-ellipsis-4 {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  word-break: break-all;
  overflow: hidden;
  hyphens: auto;
}

.text-ellipsis-5 {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  word-break: break-all;
  overflow: hidden;
  hyphens: auto;
}

.upper-border {
  border-top: 1px solid var(--clr-hoverable-400);
  padding-block-start: 0.5em;
}

.under-border,
*[data-typo-underline=true] {
  border-bottom: 1px solid var(--clr-hoverable-400);
}

.under-border:last-of-type {
  border: none !important;
}

.long-bar {
  display: inline-block;
  width: 1.25rem;
  height: 1px;
  margin-bottom: 0.2em;
  background-color: var(--clr-text-400);
}

.fw-heading {
  font-weight: 400;
}

*[data-sr=true] {
  font-size: 0px;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

img[data-profile=true] {
  width: 2rem;
  aspect-ratio: 1;
  border-radius: 100vmax;
}

.hoverable {
  transition: background-color 95ms ease-in-out;
}

.hoverable:is(:hover) {
  background-color: var(--clr-hoverable-400);
}

.text-center {
  text-align: center;
}

.hyphens-auto {
  hyphens: auto;
}

.flex-grow {
  flex-grow: 1;
}

.display-block {
  display: block;
}

.display-inline {
  display: inline;
}

.display-inline-block {
  display: inline-block;
}

.width-100 {
  width: 100%;
}

.height-100 {
  height: 100%;
}

.height-max-content {
  height: max-content;
}

.height-fit-content {
  height: fit-content;
}

.width-max-content {
  width: max-content;
}

.width-min-100 {
  min-width: 100% !important;
}

.cursor-pointer {
  cursor: pointer;
}

.select-none {
  user-select: none;
}

.dir-ltr {
  direction: ltr;
}

.dir-rtl {
  direction: rtl;
}

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

.hidden {
  display: none;
}

.overflow-hidden {
  overflow: hidden;
}

.mix-blend-difference {
  mix-blend-mode: difference;
}

.ignore-children > * {
  pointer-events: none;
}

.ignore-self {
  pointer-events: none;
}

.z-index-999 {
  z-index: 999;
}

.object-fit-contain {
  object-fit: contain;
}

.resize-vertical {
  resize: vertical;
}

.align-items-start {
  align-items: start;
}

.align-items-end {
  align-items: end;
}

.align-items-center {
  align-items: center;
}

.align-items-space-evenly {
  align-items: space-evenly;
}

.align-items-space-between {
  align-items: space-between;
}

.align-content-start {
  align-content: start;
}

.align-content-end {
  align-content: end;
}

.align-content-center {
  align-content: center;
}

.align-content-space-evenly {
  align-content: space-evenly;
}

.align-content-space-between {
  align-content: space-between;
}

.justify-content-start {
  justify-content: start;
}

.justify-content-end {
  justify-content: end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-evenly {
  justify-content: space-evenly;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-items-start {
  justify-items: start;
}

.justify-items-end {
  justify-items: end;
}

.justify-items-center {
  justify-items: center;
}

.justify-items-space-evenly {
  justify-items: space-evenly;
}

.justify-items-space-between {
  justify-items: space-between;
}

.justify-self-start {
  justify-self: start;
}

.justify-self-end {
  justify-self: end;
}

.justify-self-center {
  justify-self: center;
}

.justify-self-space-evenly {
  justify-self: space-evenly;
}

.justify-self-space-between {
  justify-self: space-between;
}

.align-self-start {
  align-self: start;
}

.align-self-end {
  align-self: end;
}

.align-self-center {
  align-self: center;
}

.align-self-space-evenly {
  align-self: space-evenly;
}

.align-self-space-between {
  align-self: space-between;
}

.place-items-start {
  place-items: start;
}

.place-items-end {
  place-items: end;
}

.place-items-center {
  place-items: center;
}

.place-items-space-evenly {
  place-items: space-evenly;
}

.place-items-space-between {
  place-items: space-between;
}

.place-content-start {
  place-content: start;
}

.place-content-end {
  place-content: end;
}

.place-content-center {
  place-content: center;
}

.place-content-space-evenly {
  place-content: space-evenly;
}

.place-content-space-between {
  place-content: space-between;
}

.flex-direction-column {
  flex-direction: column;
}

.flex-direction-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.place-items-center {
  place-items: center;
}

.place-items-start {
  place-items: start;
}

.place-items-end {
  place-items: end;
}

.place-content-center {
  place-content: center;
}

.place-content-start {
  place-content: start;
}

.place-content-end {
  place-content: end;
}

.place-self-center {
  place-self: center;
}

.place-self-start {
  place-self: start;
}

.place-self-end {
  place-self: end;
}

.place-self-center {
  place-self: center;
}

.place-items-center {
  place-items: center;
}

.border-radius-100 {
  border-radius: 100% !important;
}

.border-radius-100vw {
  border-radius: 100vw !important;
}

.border-radius-cubed {
  border-radius: 9px !important;
}

.border-radius-top-cubed {
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

.border-right-cubed {
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
}

.border-radius-bottom-cubed {
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}

.clr-background-300 {
  color: #302f37;
}

.clr-background-400 {
  color: #202026;
}

.clr-card-300 {
  color: #44434f;
}

.clr-card-400 {
  color: #575665;
}

.clr-card-600 {
  color: #727184;
}

.clr-card-error-difference-background {
  color: rgba(252, 70, 64, 0.3);
}

.clr-card-primary-difference-background {
  color: rgba(64, 158, 252, 0.3);
}

.clr-markdown-code {
  color: #44434f;
}

.clr-hoverable-400 {
  color: rgba(167, 166, 179, 0.38);
}

.clr-text-difference {
  color: black;
}

.clr-text-accent {
  color: white;
}

.clr-text-muted {
  color: #cccccc;
}

.clr-text-error {
  color: #fd8c81;
}

.clr-text-primary {
  color: #70b6ff;
}

.clr-input-background {
  color: #43424d;
}

.clr-input-border {
  color: #77758a;
}

.clr-input-border-hover {
  color: #c3c2cb;
}

.clr-button-background {
  color: rgba(76, 75, 88, 0.88);
}

.clr-button-background-hover {
  color: #6d6c7f;
}

.clr-button-primary-background {
  color: #0069d6;
}

.clr-button-primary-background-hover {
  color: #0073eb;
}

.clr-button-tool-background {
  color: rgba(64, 78, 150, 0.4);
}

.clr-button-tool-background-hover {
  color: #0998ae;
}

.clr-button-background-dark {
  color: #302f37;
}

.clr-button-background-dark-hover {
  color: #393842;
}

.clr-button-downvote-hover {
  color: #fd645e;
}

.clr-button-difference {
  color: rgba(86, 84, 99, 0.5);
}

.clr-button-difference-hover {
  color: #5f5e6e;
}

.clr-button-difference-upvote {
  color: rgba(64, 127, 252, 0.3);
}

.clr-button-difference-upvote-color {
  color: #9bbcfd;
}

.clr-button-difference-upvote-hover {
  color: #407ffc;
}

.clr-button-difference-upvote-border {
  color: #407ffc;
}

.clr-button-difference-downvote {
  color: rgba(252, 70, 64, 0.3);
}

.clr-button-difference-downvote-color {
  color: #fd9e9b;
}

.clr-button-difference-downvote-hover {
  color: #fc4640;
}

.clr-button-difference-downvote-border {
  color: #fc4640;
}

.clr-button-hologram-background {
  color: rgba(0, 107, 163, 0.46);
}

.clr-button-hologram-background-hover {
  color: rgba(0, 161, 245, 0.46);
}

.clr-misc-selection {
  color: #ecf7f9;
}

.clr-misc-selection-shadow {
  color: rgba(0, 115, 133, 0.36);
}

.clr-misc-link {
  color: #3d9cff;
}

.clr-misc-link-bright {
  color: #c2e0ff;
}

.clr-misc-link-hover {
  color: #57a9ff;
}

.clr-misc-modal-background {
  color: rgba(0, 0, 0, 0.65);
}

.clr-misc-skeletron-background {
  color: rgba(128, 128, 128, 0.7);
}

.clr-misc-hologram-color {
  color: #b8cfff;
}

:root {
  --clr-background-300: #302f37;
  --clr-background-400: #202026;
  --clr-card-300: #44434f;
  --clr-card-400: #575665;
  --clr-card-600: #727184;
  --clr-card-error-difference-background: rgba(252, 70, 64, 0.3);
  --clr-card-primary-difference-background: rgba(64, 158, 252, 0.3);
  --clr-markdown-code: #44434f;
  --clr-hoverable-400: rgba(167, 166, 179, 0.38);
  --clr-text-difference: black;
  --clr-text-accent: white;
  --clr-text-muted: #cccccc;
  --clr-text-error: #fd8c81;
  --clr-text-primary: #70b6ff;
  --clr-input-background: #43424d;
  --clr-input-border: #77758a;
  --clr-input-border-hover: #c3c2cb;
  --clr-button-background: rgba(76, 75, 88, 0.88);
  --clr-button-background-hover: #6d6c7f;
  --clr-button-primary-background: #0069d6;
  --clr-button-primary-background-hover: #0073eb;
  --clr-button-tool-background: rgba(64, 78, 150, 0.4);
  --clr-button-tool-background-hover: #0998ae;
  --clr-button-background-dark: #302f37;
  --clr-button-background-dark-hover: #393842;
  --clr-button-downvote-hover: #fd645e;
  --clr-button-difference: rgba(86, 84, 99, 0.5);
  --clr-button-difference-hover: #5f5e6e;
  --clr-button-difference-upvote: rgba(64, 127, 252, 0.3);
  --clr-button-difference-upvote-color: #9bbcfd;
  --clr-button-difference-upvote-hover: #407ffc;
  --clr-button-difference-upvote-border: #407ffc;
  --clr-button-difference-downvote: rgba(252, 70, 64, 0.3);
  --clr-button-difference-downvote-color: #fd9e9b;
  --clr-button-difference-downvote-hover: #fc4640;
  --clr-button-difference-downvote-border: #fc4640;
  --clr-button-hologram-background: rgba(0, 107, 163, 0.46);
  --clr-button-hologram-background-hover: rgba(0, 161, 245, 0.46);
  --clr-misc-selection: #ecf7f9;
  --clr-misc-selection-shadow: rgba(0, 115, 133, 0.36);
  --clr-misc-link: #3d9cff;
  --clr-misc-link-bright: #c2e0ff;
  --clr-misc-link-hover: #57a9ff;
  --clr-misc-modal-background: rgba(0, 0, 0, 0.65);
  --clr-misc-skeletron-background: rgba(128, 128, 128, 0.7);
  --clr-misc-hologram-color: #b8cfff;
  --fs-200: 0.46rem;
  --fs-300: 0.69rem;
  --fs-350: 0.782rem;
  --fs-400: 0.92rem;
  --fs-450: 0.966rem;
  --fs-500: 1.15rem;
  --fs-600: 1.38rem;
  --fs-700: 1.61rem;
  --fs-800: 1.84rem;
  --size-container-main: 1200px;
}

@media (prefers-color-scheme: dark) {
  .clr-background-300 {
    color: #302f37;
  }

  .clr-background-400 {
    color: #202026;
  }

  .clr-card-300 {
    color: #44434f;
  }

  .clr-card-400 {
    color: #575665;
  }

  .clr-card-600 {
    color: #727184;
  }

  .clr-card-error-difference-background {
    color: rgba(252, 70, 64, 0.3);
  }

  .clr-card-primary-difference-background {
    color: rgba(64, 158, 252, 0.3);
  }

  .clr-markdown-code {
    color: #44434f;
  }

  .clr-hoverable-400 {
    color: rgba(167, 166, 179, 0.38);
  }

  .clr-text-difference {
    color: black;
  }

  .clr-text-accent {
    color: white;
  }

  .clr-text-muted {
    color: #cccccc;
  }

  .clr-text-error {
    color: #fd8c81;
  }

  .clr-text-primary {
    color: #70b6ff;
  }

  .clr-input-background {
    color: #43424d;
  }

  .clr-input-border {
    color: #77758a;
  }

  .clr-input-border-hover {
    color: #c3c2cb;
  }

  .clr-button-background {
    color: rgba(76, 75, 88, 0.88);
  }

  .clr-button-background-hover {
    color: #6d6c7f;
  }

  .clr-button-primary-background {
    color: #0069d6;
  }

  .clr-button-primary-background-hover {
    color: #0073eb;
  }

  .clr-button-tool-background {
    color: rgba(64, 78, 150, 0.4);
  }

  .clr-button-tool-background-hover {
    color: #0998ae;
  }

  .clr-button-background-dark {
    color: #302f37;
  }

  .clr-button-background-dark-hover {
    color: #393842;
  }

  .clr-button-downvote-hover {
    color: #fd645e;
  }

  .clr-button-difference {
    color: rgba(86, 84, 99, 0.5);
  }

  .clr-button-difference-hover {
    color: #5f5e6e;
  }

  .clr-button-difference-upvote {
    color: rgba(64, 127, 252, 0.3);
  }

  .clr-button-difference-upvote-color {
    color: #9bbcfd;
  }

  .clr-button-difference-upvote-hover {
    color: #407ffc;
  }

  .clr-button-difference-upvote-border {
    color: #407ffc;
  }

  .clr-button-difference-downvote {
    color: rgba(252, 70, 64, 0.3);
  }

  .clr-button-difference-downvote-color {
    color: #fd9e9b;
  }

  .clr-button-difference-downvote-hover {
    color: #fc4640;
  }

  .clr-button-difference-downvote-border {
    color: #fc4640;
  }

  .clr-button-hologram-background {
    color: rgba(0, 107, 163, 0.46);
  }

  .clr-button-hologram-background-hover {
    color: rgba(0, 161, 245, 0.46);
  }

  .clr-misc-selection {
    color: #ecf7f9;
  }

  .clr-misc-selection-shadow {
    color: rgba(0, 115, 133, 0.36);
  }

  .clr-misc-link {
    color: #3d9cff;
  }

  .clr-misc-link-bright {
    color: #c2e0ff;
  }

  .clr-misc-link-hover {
    color: #57a9ff;
  }

  .clr-misc-modal-background {
    color: rgba(0, 0, 0, 0.65);
  }

  .clr-misc-skeletron-background {
    color: rgba(128, 128, 128, 0.7);
  }

  .clr-misc-hologram-color {
    color: #b8cfff;
  }

  :root {
    --clr-background-300: #302f37;
    --clr-background-400: #202026;
    --clr-card-300: #44434f;
    --clr-card-400: #575665;
    --clr-card-600: #727184;
    --clr-card-error-difference-background: rgba(252, 70, 64, 0.3);
    --clr-card-primary-difference-background: rgba(64, 158, 252, 0.3);
    --clr-markdown-code: #44434f;
    --clr-hoverable-400: rgba(167, 166, 179, 0.38);
    --clr-text-difference: black;
    --clr-text-accent: white;
    --clr-text-muted: #cccccc;
    --clr-text-error: #fd8c81;
    --clr-text-primary: #70b6ff;
    --clr-input-background: #43424d;
    --clr-input-border: #77758a;
    --clr-input-border-hover: #c3c2cb;
    --clr-button-background: rgba(76, 75, 88, 0.88);
    --clr-button-background-hover: #6d6c7f;
    --clr-button-primary-background: #0069d6;
    --clr-button-primary-background-hover: #0073eb;
    --clr-button-tool-background: rgba(64, 78, 150, 0.4);
    --clr-button-tool-background-hover: #0998ae;
    --clr-button-background-dark: #302f37;
    --clr-button-background-dark-hover: #393842;
    --clr-button-downvote-hover: #fd645e;
    --clr-button-difference: rgba(86, 84, 99, 0.5);
    --clr-button-difference-hover: #5f5e6e;
    --clr-button-difference-upvote: rgba(64, 127, 252, 0.3);
    --clr-button-difference-upvote-color: #9bbcfd;
    --clr-button-difference-upvote-hover: #407ffc;
    --clr-button-difference-upvote-border: #407ffc;
    --clr-button-difference-downvote: rgba(252, 70, 64, 0.3);
    --clr-button-difference-downvote-color: #fd9e9b;
    --clr-button-difference-downvote-hover: #fc4640;
    --clr-button-difference-downvote-border: #fc4640;
    --clr-button-hologram-background: rgba(0, 107, 163, 0.46);
    --clr-button-hologram-background-hover: rgba(0, 161, 245, 0.46);
    --clr-misc-selection: #ecf7f9;
    --clr-misc-selection-shadow: rgba(0, 115, 133, 0.36);
    --clr-misc-link: #3d9cff;
    --clr-misc-link-bright: #c2e0ff;
    --clr-misc-link-hover: #57a9ff;
    --clr-misc-modal-background: rgba(0, 0, 0, 0.65);
    --clr-misc-skeletron-background: rgba(128, 128, 128, 0.7);
    --clr-misc-hologram-color: #b8cfff;
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 10rem;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: var(--fs-400);
  background-color: var(--clr-background-400);
  color: var(--clr-text-accent);
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
}

.body-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.6;
}

p {
  line-height: 1.3;
}

a {
  text-decoration: none;
  color: var(--clr-misc-link);
}
a[data-variant=default] {
  text-decoration: underline;
}

:focus:where([data-target], [data-allow-outline="true"]),
:focus:not([data-variant], [data-secondary-variant]),
:target {
  outline: 3px solid var(--clr-input-border);
  border-radius: 2px;
  outline-offset: 4px;
}

:not([data-target], [data-allow-outline=true]):where(.button, .input, body, iframe, [data-allow-outline="false"]):focus {
  outline: 0;
}

li::marker {
  color: var(--clr-primary-400);
}

::selection {
  background-color: var(--clr-misc-selection-shadow);
  color: var(--clr-misc-selection);
}

ul[role=list] {
  list-style: none;
}

input,
textarea,
button,
*.button {
  font-size: calc(var(--fs-350) * 1.05);
  font-family: "Poppins", sans-serif;
  color: var(--clr-text-accent);
}

input[type=checkbox] {
  accent-color: var(--clr-primary-400);
}

textarea {
  max-width: 100%;
  min-width: 16ch;
  min-height: 4ch;
}

button {
  border: 0;
  background-color: transparent;
}

textarea {
  white-space: pre-wrap;
}

img,
video {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: inherit;
  background-color: var(--clr-image-background);
}

img[data-small=true] {
  width: 100%;
  object-fit: contain;
}

canvas {
  display: inline-block;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

[class*=flex] {
  display: flex;
}

[class*=grid] {
  display: grid;
}

[data-mobile] {
  display: none !important;
}

[data-hide=true] {
  display: none !important;
}

[data-absolute-hide=true] {
  visibility: hidden !important;
  pointer-events: none !important;
}

[data-work-condition=false] {
  opacity: 0.5;
  pointer-events: none;
}

:where(.flow > * + *) {
  margin-block-start: 0.5em;
}

/* Remove all animations and transitions */
@media screen and (max-width: 65em) {
  :root {
    --fs-200: 0.4rem;
    --fs-300: 0.6rem;
    --fs-350: 0.68rem;
    --fs-400: 0.8rem;
    --fs-450: 0.84rem;
    --fs-500: 1rem;
    --fs-600: 1.2rem;
    --fs-700: 1.4rem;
    --fs-800: 1.6rem;
  }
}
@media screen and (min-width: 50em) {
  .state-indicator {
    z-index: 1 !important;
  }
}
@media screen and (max-width: 50em) {
  :root {
    --size-container-main: 100%;
    --fs-200: 0.375rem;
    --fs-300: 0.5625rem;
    --fs-350: 0.6375rem;
    --fs-400: 0.75rem;
    --fs-450: 0.7875rem;
    --fs-500: 0.9375rem;
    --fs-600: 1.125rem;
    --fs-700: 1.3125rem;
    --fs-800: 1.5rem;
  }
  :root *[data-flex-collapse=true] {
    flex-direction: column !important;
  }
  :root *[data-flex-collapse=true][data-flex-collapse-center=true] {
    align-items: center !important;
  }
  :root *[data-flex-wrap=true] {
    flex-wrap: wrap !important;
  }
  :root *[data-grid-collapse=true] {
    grid-template-columns: 1fr !important;
  }
  :root *[data-desktop] {
    display: none !important;
  }
  :root *[data-mobile] {
    display: block !important;
  }
  :root *[data-align-mobile=true] {
    width: 100%;
    align-items: center !important;
  }
  :root *[data-justify-mobile=true] {
    width: 100%;
    justify-content: center !important;
  }
  :root *[data-text-center-mobile=true] {
    text-align: center !important;
  }

  .state-indicator {
    z-index: 2 !important;
  }
}

/*# sourceMappingURL=sassy.css.map */
