@use '../abstracts/' as *;

.main-container {
	width: min(#{$main-container-width}, calc(100% - #{$main-container-padding}));
	padding-inline: $main-container-padding * 0.5;
	margin-inline: auto;
}

.secondary-container {
	width: min(#{$secondary-container-width}, calc(100% - #{$main-container-padding}));
	padding-inline: $main-container-padding * 0.5;
	margin-inline: auto;
}
